body{
	font-family:Verdana;
	background-color:1f2e2e;
	color:white;
	width: 990px;
	margin: auto;
	text-transform: capitalize;
}
input[type=text]{
	height: 40px;
	width: 300px;
	border-radius: 15px;
	padding: 10px;
}
input[type="submit"]{
	height: 40px;
	width: 100px;
	border-radius: 10px;
	border: 2px solid grey;
	background-color: red;
	color:white;
}
select{
	height: 40px;
	width: 300px;
	border-radius: 15px;
	padding: 10px;
}
fieldset{
	margin-top: 20px;
}
textarea{
	height:120px;
	width: 300px;
}
footer{
	border-top-style: solid;
	border-top-color: white;
	text-transform: capitalize;
	font-size: 16px;
	color: white;
	padding: 3px;
	text-align:center;
	clear:both;
	margin:5px;
}
tr{
	line-height:2;
	height: 70px;
}
#first{
	text-align:right;
	padding-right:20px;
}