body{
	font-family:Verdana;
	background-color:1f2e2e;
	color:white;
	width: 990px;
	margin: auto;
	text-transform: capitalize;
}
header{
	width:100%;
	margin-top: 20px;
	margin-bottom: 0px;
	border-radius:15px;
}
#logo{
	float:left;
	height: 180px;
	width: 220px;
	margin-top: 0px;
	padding:0px;
}
#menubar li{
	display: inline;
	background-color:ffffff;
	padding: 20px;
	color: black;
	padding-left: 70px;
	padding-right:70px;
	border: 2px grey;
	border-radius: 30px;
	margin: 13px;
}
#menubar ul{
	text-align: center;
	padding: 20px;
	margin:0px;
	border-radius: 10px;
	clear: both;
	margin-top: -20px;
}
#MainHeading{
	background-color:#b30000;
	letter-spacing:2px;
	font-size: 40px;
	border: 2px solid white;
	height: 90px;
	margin: 0px;
	color:white;
	margin-left:250px;
	text-align:center;
	padding-top: 15px;
	margin-bottom:5px;
	border-radius:15px;
}
#searchbar{
	background-color:1f2e2e;
	height:45px;
	border: 2px solid darkgrey;
	border-radius:30px;
	float: right;
	width: 740px;
	background-image: url("" right);
	font-size: 18px;
	color: darkgrey;
	padding: 5px;
	margin-bottom: -10px;
}
.menu{
	color:white;
	font-size: 20;
	line-height:2.3;
	border: dashed black;
	width: 300px;
	height: 750px;
	float: left;
	margin-top: 25px;
	clear: both;
	margin-right: 20px;
	padding-left: 15px;
	overflow: auto;
}
footer{
	border-top-style: solid;
	border-top-color: white;
	text-transform: capitalize;
	font-size: 16px;
	color: white;
	padding: 3px;
	text-align:center;
	clear:both;
	margin:5px;
}

}
main{
	margin-left:15px;
	margin-right: 15px;
}
#recommended{
padding-top: 20px;
}
#menubar li:hover{
	background-color:lightgray;
}
#menubar a{
	color:black;
}
a{
	color:white;
	text-decoration: none;
}
a:hover{
	color: red;
}

td{
padding: 5px;
}
table{
	margin: 7px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red; 
}
